.About-main {
    background-color: rgba(0,0,0,1);
    min-height: 100vh;
}

.About-main:before {
    opacity: 0.7;
}

.AboutContainer {
    background-attachment: fixed;
    background-image: url('../assets/gen/led-lines.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    min-height: 80vw;
    background-color: rgba(0,0,0,0.5);
    margin: 0px auto;
    padding: 100px 100px 0px 100px;
    opacity: 0.9;
}

.AboutContainer:before {
    opacity: 0.7;
}

.AboutTitle {
    color: white;
    margin: 0px 0px 0px 0px;
    opacity: 1;
    z-index: 2;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.AboutSection {
    font-size: 1em;
    color: white;
    margin: 50px 0px 50px 0px;
    opacity: 1;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    /* z-index: 2; */
}