h3 {
    margin: 0px 0px 0px 0px;
}

.HomeBanner {
    margin: 0px 0px 100px 0px;
    height: 50vw;
    background-attachment: fixed;
    background-position: center;
    background-color: #000;
    background-image: url('../assets/gen/lit-bridge.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* opacity: 0.75; */
}

.HomeBannerTitle {
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 0px 50px;
    /* padding: 0px 50px; */
    /* position: absolute; */
    /* bottom: 50px; */
    text-align: left;
    /* color: #b9b9b9; */
    /* color: hsl(0, 50%, 50%); */
    color: white;
    font-size: 48px;
    opacity: 1;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.HomeGrid {
    min-height: 300vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 50px;
}

.HomeGridRow {
    /* border: 1px solid black; */
    background: linear-gradient(#91a8e5, #9ab7d8);
    display: flex;
    justify-content: space-around;
    opacity: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

.HomeGridRow:hover {
    transition: opacity 0.1s ease-out 0s;
    opacity: 0.6;
    cursor: pointer;
}

.HomeSection {
    flex-basis: 50%;
    padding: 20px 30px;
}

.HomeSectionLeft {
    order: 1;
}

.HomeSectionRight {
    order: 2;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.HomeGridRow1 {
    grid-row-start: 1;
    grid-row-end: 2;
}

.HomeGridRow1 .HomeSectionRight {
    background-image: url('../assets/gen/circ.jpg');
}

.HomeGridRow2 {
    grid-row-start: 2;
    grid-row-end: 3;
}

.HomeGridRow2 .HomeSectionRight {
    background-image: url('../assets/gen/evening-tunnel.jpg');
}

.HomeGridRow3 {
    grid-row-start: 3;
    grid-row-end: 4;
}

.HomeGridRow3 .HomeSectionRight {
    background-image: url('../assets/gen/streetlight-1388418_1280.jpg');
}

.HomeGridRow4 {
    grid-row-start: 4;
    grid-row-end: 5;
}

.HomeGridRow4 .HomeSectionRight {
    background-image: url('../assets/gen/architecture-blur-building-257636.jpg');
}

.HomeGridRow5 {
    grid-row-start: 5;
    grid-row-end: 6;
}

.HomeGridRow5 .HomeSectionRight {
    background-image: url('../assets/gen/airport-architecture-building-1536434.jpg');
}

.HomeGridRow6 {
    grid-row-start: 6;
    grid-row-end: 7;
}

.HomeGridRow6 .HomeSectionRight {
    background-image: url('../assets/gen/abigail-keenan-17651-unsplash.jpg');
}