.HomeBanner {
    height: 250px;
    background-color: #061a40;
    background-image: -webkit-linear-gradient(65deg, #006daa 50%, #1d1d1d 50%);
    /* background: rgb(138,185,181); */
    /* background: -moz-linear-gradient(left, rgba(138,185,181,1) 0%, rgba(52,228,234,1) 33%, rgba(14,177,210,1) 67%, rgba(43,65,65,1) 100%);
    background: -webkit-linear-gradient(left, rgba(138,185,181,1) 0%,rgba(52,228,234,1) 33%,rgba(14,177,210,1) 67%,rgba(43,65,65,1) 100%);
    background: linear-gradient(to right, rgba(138,185,181,1) 0%,rgba(52,228,234,1) 33%,rgba(14,177,210,1) 67%,rgba(43,65,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ab9b5', endColorstr='#2b4141',GradientType=1 ); */
    border: 1px solid black;
}

.HomeBannerTitle {
    text-align: center;
    color: #b9b9b9;
}