.NavigationBar-main {
    margin: 0 auto;
    background-color: #e5e5e5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
    height: 180px;

    max-width: 800px;
}

.leftContainer {
    order: 1;
}

.companyLogoImage {
    width: 120px;
    height: 120px;
    /* background-color: red; */
}

.NavigationHeader {
    font-size: 20px;
}

.NavigationListContainer {
    order: 2;
    display: flex;
    width: auto;
    height: auto;
}

.NavigationListElement1 {

}

/* .NavigationBar-main {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    background-color: #e5e5e5;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    position: sticky;
}

.NavigationHeader {
    margin: 0px 0px 0px 0px;
    padding: 15px 15px 15px 40px;
    display: inline;
    float: left;
}

.NavigationListContainer {
    float: right;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 40px 0px 0px;
}

.NavigationListElement {
    padding: 15px 15px 15px 15px;
}

.NavigationListElement1 {
    order: 1;
}

.NavigationListElement2 {
    order: 2;
}

.NavigationListElement3 {
    order: 3;
}

.NavigationListElement4 {
    order: 4;
}

.NavigationListElement5 {
    order: 5;
}

.NavigationListElement6 {
    order: 6;
} */
