.App {
  /* text-align: center; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 75px 250px 100vh 250px
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
