@import url('https://fonts.googleapis.com/css?family=Rubik');

@import url('https://fonts.googleapis.com/css?family=Lato');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

.App {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}
